<header>
    <div class="navbar">
    <div class="logo"><a href="/">BlogSpot</a></div>
        <ul class="links">
          <li><a href='/create'>Create a New Blog</a></li>
          <li><a href='/view'>View All Blogs</a></li>
          <li><a href='/about'>About Us</a></li>
        </ul>
        <div class="toggle_btn">
            <i class="fa-sharp fa-solid fa-bars"></i>
        </div>
    </div>
    <div class="dropdown">
        <li><a href='/create'>Create a New Blog</a></li>
        <li><a href='/view'>View All Blogs</a></li>
        <li><a href='/about'>About Us</a></li>
    </div>
</header>
<section class="sticky">
    <div class="bubbles">
        <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
      <div class="bubble"></div>
    </div>
</section>