<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav&bubbles.ejs') %>
        <section class="error" style="height:60%; display:flex; justify-content: center; align-items: center; color: wheat; font-weight: bolder;">
            <h1>#404 - PAGE DOES NOT EXIST</h1>
        </section>
        <%- include('./partials/js&footer.ejs') %>
    </body>
</html>