body,html{
    width:100%;
    height: 100%;
  }
  body{
    min-height: 100vh;
    position: relative; 
    margin:0;
    padding:0;
    background:#29b6f6;
    background:url('bg.jpg');
    background-size: cover;
    background-position: center;
  }
  .bubbles{
    position:absolute;
    width:100%;
    height: 100%;
    z-index:0;
    overflow:hidden;
    top:0;
    left:0;
  }
  .bubble{
    position: absolute;
    bottom:-100px;
    width:40px;
    height: 40px;
    background:#f1f1f1;
    border-radius:50%;
    opacity:0.5;
    animation: rise 10s infinite ease-in;
  }
  .bubble:nth-child(1){
    width:40px;
    height:40px;
    left:10%;
    animation-duration:8s;
  }
  .bubble:nth-child(2){
    width:20px;
    height:20px;
    left:20%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(3){
    width:50px;
    height:50px;
    left:35%;
    animation-duration:7s;
    animation-delay:2s;
  }
  .bubble:nth-child(4){
    width:80px;
    height:80px;
    left:50%;
    animation-duration:11s;
    animation-delay:0s;
  }
  .bubble:nth-child(5){
    width:35px;
    height:35px;
    left:55%;
    animation-duration:6s;
    animation-delay:1s;
  }
  .bubble:nth-child(6){
    width:45px;
    height:45px;
    left:65%;
    animation-duration:8s;
    animation-delay:3s;
  }
  .bubble:nth-child(7){
    width:90px;
    height:90px;
    left:70%;
    animation-duration:12s;
    animation-delay:2s;
  }
  .bubble:nth-child(8){
    width:25px;
    height:25px;
    left:80%;
    animation-duration:6s;
    animation-delay:2s;
  }
  .bubble:nth-child(9){
    width:15px;
    height:15px;
    left:70%;
    animation-duration:5s;
    animation-delay:1s;
  }
  .bubble:nth-child(10){
    width:90px;
    height:90px;
    left:25%;
    animation-duration:10s;
    animation-delay:4s;
  }
  @keyframes rise{
    0%{
      bottom:-100px;
      transform:translateX(0);
    }
    50%{
      transform:translate(100px);
    }
    100%{
      bottom:1080px;
      transform:translateX(-200px);
    }
  }
  footer{
    position: absolute;
    bottom: 1%;
    width: 100%;
    color: bisque;
    font-size: 1rem;
    text-align: center;
    align-self: center;
  }
  li{
    list-style: none;
  }
  a{
    text-decoration: none;
    color: wheat;
    font-size: 1.2rem;
    font-weight: bold;
  }
  a:hover{
    color: burlywood;
  }
  header{
    position: relative;
    padding: 0 2rem;
    z-index: 1;
  }
  .navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .logo a{
    font-size: 2.2rem;
    font-weight: bold;
  }
  .navbar .links{
    display: flex;
    gap: 4rem;
  }
  .navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
  }
  .dropdown{
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .dropdown.open{
    height: 122px;
  }
  .dropdown li{
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  @media(max-width:992px){
    .navbar .links{
        display: none;
    }
    .navbar .toggle_btn{
        display: block;
    }
    .dropdown{
        display: block;
    }
  }
  @media(max-width:576px){
    .dropdown{
        left: 2rem;
        width: unset;
    }
  }